<!--- Javascript dos gráficos--->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart'], 'language': 'pt'});

// javascript do gráfico de evolução da aprovação média x aprovação dos períodos
    google.charts.setOnLoadCallback(evlApvTot);

	function evlApvTot() {
    	var data = google.visualization.arrayToDataTable([
			["Data", "Aprovação Média", "Aprovação no Período"],
			<%@comp_avals.each do |t|%>
				["<%=date_mask(t[0])%>", <%=t[1]%>, <%=t[2]%>],
			<%end%>
			["<%=date_mask(@last[0])%>", <%=@last[1]%>, <%=@last[2]%>]
    	]);

    	var formatter = new google.visualization.NumberFormat({
			pattern: '#.##%',
			fractionDigits:4
    	});
		formatter.format(data, 1);
		formatter.format(data, 2);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1, {
			calc: 'stringify',
			sourceColumn: 1,
			type: 'string',
			role: 'annotation'
		}, 2, {
			calc: 'stringify',
			sourceColumn: 2,
			type: 'string',
			role: 'annotation'
		}]);

        var options = {
            backgroundColor: 'transparent',
			legend: {
				position: 'bottom'
			},
            vAxis: {
				minValue: 0.2,
				maxValue: 0.7,
				format: '#%'
            },
            bars: 'vertical',
            annotations: {
                textStyle: {
                    fontSize:10
                },
                stem: {
                    color:'transparent'
                }
            },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('evl-apv-tot'));
        chart.draw(view, options);
    }
// javascript do gráfico de porcentagem das avaliações por órgão
	google.charts.setOnLoadCallback(porcAval);

	function porcAval() {
        var data = google.visualization.arrayToDataTable([
			['Órgão', 'Qtd. de Avaliações no Período'],
			<%@pie_data.each do |p|%>
				["<%=p[0]%>", <%=p[1]%>],
			<%end%>
			['Demais Órgãos', <%=@demais%>]
        ]);

        var options = {
			pieHole: 0.4,
			legend: 'none',
			is3D: false,
			backgroundColor: 'transparent',
			pieSliceText: 'none',
			//pieSliceTextStyle: {fontSize: 10},
			enableInteractivity: false,
  			selectionMode: 'multiple',
			tooltip: {
				showColorCode: true,
				text: 'both',
				trigger: 'selection',
				ignoreBounds: true,
				textStyle: {
					fontSize: 10
				}
			}
        };

        var chart = new google.visualization.PieChart(document.getElementById('porc-aval'));

		google.visualization.events.addListener(chart, 'ready', function(e) {
		var selected_rows = [];
		for (var i = 0; i < <%=@pie_data.size + 1%>; i++) {
			selected_rows.push({row: i, column: null});
		}
		chart.setSelection(selected_rows);
		});
        chart.draw(data, options);
	}
	</script>
	<script type="text/javascript">
    	google.charts.load('current', {'packages':['corechart'], 'language': 'pt'});

// javascript do gráfico das maiores diferenças entre aprovação média e aprovação do período
	 	google.charts.setOnLoadCallback(evlMedias);

	function evlMedias() {
    	var data = google.visualization.arrayToDataTable([
			["Órgão", "Aprovação Média", "Aprovação no Período"],
			["<%=@org_outp.first.nome_fantasia%>", <%=@org_outp.first.aprovacao_antiga(Tempo.cronos[-2].id)%>, <%=@org_outp.first.aprovacao_periodo%>],
			["<%=@org_outp.second.nome_fantasia%>", <%=@org_outp.second.aprovacao_antiga(Tempo.cronos[-2].id)%>, <%=@org_outp.second.aprovacao_periodo%>],
			["<%=@org_outp.third.nome_fantasia%>", <%=@org_outp.third.aprovacao_antiga(Tempo.cronos[-2].id)%>, <%=@org_outp.third.aprovacao_periodo%>],
			["<%=@org_outp[-3].nome_fantasia%>", <%=@org_outp[-3].aprovacao_antiga(Tempo.cronos[-2].id)%>, <%=@org_outp[-3].aprovacao_periodo%>],
			["<%=@org_outp[-2].nome_fantasia%>", <%=@org_outp[-2].aprovacao_antiga(Tempo.cronos[-2].id)%>, <%=@org_outp[-2].aprovacao_periodo%>],
			["<%=@org_outp.last.nome_fantasia%>", <%=@org_outp.last.aprovacao_antiga(Tempo.cronos[-2].id)%>, <%=@org_outp.last.aprovacao_periodo%>]
    	]);

    	var formatter = new google.visualization.NumberFormat({
			pattern: '#.##%',
			fractionDigits:4
    	});
		formatter.format(data, 1);
		formatter.format(data, 2);

		var view = new google.visualization.DataView(data);
		view.setColumns([0, 1, {
			calc: 'stringify',
			sourceColumn: 1,
			type: 'string',
			role: 'annotation'
		}, 2, {
			calc: 'stringify',
			sourceColumn: 2,
			type: 'string',
			role: 'annotation'
		}]);

        var options = {
            backgroundColor: 'transparent',
			legend: {
				position: 'top',
				alignment: 'center',
				textStyle: {
					fontSize:10
				}
			},
			hAxis: {
				textStyle: {
					fontSize: 10
				}
			},
            vAxis: {
				minValue: 0.2,
				maxValue: 1,
				format: '#%'
            },
            bars: 'vertical',
            annotations: {
                textStyle: {
                    fontSize:10
                },
                stem: {
                    color:'transparent'
                }
            },
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('medias'));
        chart.draw(view, options);
    }
</script>

<div class="container">
<!--Título-->
	<h4>Portal gov.br - Relatório da avaliação de informações das páginas de serviço: <%=bradate(@cronos[-2].data)%> a <%=bradate(@cronos_last.data)%></h4>
	<br>
	
<!--Resumo geral-->
	<p>Durante o período <span><%=@novos.size == 1 ? "#{nmb_form(@novos.size)} nova página de serviço foi inclusa" : @novos.size == 0 ? "nenhuma página nova foi inclusa" : "#{nmb_form(@novos.size)} novas páginas de serviço foram inclusas"%></span> no Portal e <span><%=@retirados.size == 1 ? "#{nmb_form(@retirados.size)} página foi retirada" : @retirados.size == 0 ? "nenhuma página foi retirada" : "#{nmb_form(@retirados.size)} páginas foram retiradas"%></span>, resultando em <span><%=nmb_form(@atuais.size)%> serviços atualmente na API de serviços</span>.</p>

<!--Avaliações de Serviços Novos-->
	<%if @novos.size > 0%>
		<%if @av_novos[0] > 0%>
			<p><span><%=@novos.size == 1 ? "O serviço que entrou" : "Os serviços que entraram"%> no Portal</span> <%=@novos.size == 1 ? "teve" : "tiveram"%> <span><%=nmb_form(@av_novos[0])%> <%=@av_novos[0] == 1 ? "avaliação" : "avaliações"%> no período</span> (<%=@av_novos[1] != 0 ? (@av_novos[1] == 1 ? "#{nmb_form(@av_novos[1])} positiva" : "#{nmb_form(@av_novos[1])} positivas") : "" %> <%=@av_novos[1] == 0 || @av_novos[2] == 0 ? "" : "x" %> <%=@av_novos[2] != 0 ? (@av_novos[2] == 1 ? "#{nmb_form(@av_novos[2])} negativa" : "#{nmb_form(@av_novos[2])} negativas") : "" %>).
		<%else%>
			<%=@novos.size == 1 ? "O serviço que entrou não teve" : "Os serviços que entraram não tiveram"%> avaliações no período.
		<%end%>
	<%end%>

<!--Avaliações de Serviços Retirados-->
	<%if @retirados.size > 0%>
		<%if @av_retirados[0] > 0%>
			<%=@retirados.size == 1 ? "O serviço que saiu" : "Os serviços que saíram"%> <span><%=@retirados.size == 1 ? "retirou" : "retiraram"%></span> do Portal <span><%=@av_retirados[0] == 1 ? "#{nmb_form(@av_retirados[0])} avaliação" : "#{nmb_form(@av_retirados[0])} avaliações"%></span> (<%=@av_retirados[1] == 0 ? "" : @av_retirados[1] == 1 ? "#{nmb_form(@av_retirados[1])} positiva" : "#{nmb_form(@av_retirados[1])} positivas"%> <%=@av_retirados[1] == 0 || @av_retirados[2] == 0 ? "" : "x" %> <%=@av_retirados[2] == 0 ? "" : @av_retirados[2] == 1 ? "#{nmb_form(@av_retirados[~2])} negativa" : "#{nmb_form(@av_retirados[2])} negativas"%>
		<%else%>
			<%=@retirados.size == 1 ? "O serviço que saiu não tinha" : "Os serviços que saíram não tinham"%> nenhuma avaliação ainda.
		<%end%>
	<%end%>
		
<!--Avaliações dos serviços mantidos, número atual de avaliações no Portal e variação da aprovação média-->
		Os restantes <span><%=nmb_form(@mantidos.size)%> serviços que permaneceram</span> no Portal receberam no período <span><%=nmb_form(@av_mantidos[0])%> avaliações</span> (<%=nmb_form(@av_mantidos[1])%> positivas x <%=nmb_form(@av_mantidos[2])%> negativas). Como resultado, o Portal hoje conta com <span><%=nmb_form(@cronos_fot_geral[0])%> avaliações</span>, sendo <span><%=nmb_form(@cronos_fot_geral[1])%> delas positivas</span> e os restantes <span><%=nmb_form(@cronos_fot_geral[2])%> negativas</span>. Neste período, como consequência, houve uma <span>variação de <%=percent(@varapvmedia)%> na aprovação média</span> das páginas de serviço do Portal.</p>

<!--Gráfico Barras Variação da Aprovação Média do Portal-->
	<div style="margin:auto">
		<h6 style="text-align:center;margin:0">Evolução da Avaliação Média x Avaliação do Período</h6>
		<div id="evl-apv-tot"></div>
	</div>

<!--Órgãos que mais acrescentaram serviços-->
	<p>
	<%if  @org_msn.first.novos.size > 0%>
		<%if @org_msn.first.novos.size == @org_msn.second.novos.size%>
			<%if @org_msn.third.novos.size == @org_msn.first.novos.size%>
				Os órgãos que <span>mais acrescentaram serviços</span> no período foram <%=@org_msn.first.artigo%> <span><%=@org_msn.first.nome_fantasia%></span>, <%=@org_msn.second.artigo%> <span><%=@org_msn.second.nome_fantasia%></span> e <%=@org_msn.third.artigo%> <span><%=@org_msn.third.nome_fantasia%></span>, que acrescentaram <span><%=nmb_form(@org_msn.first.novos.size)%> <%=@org_msn.first.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> cada um.
			<%else%>
				Os órgãos que <span>mais acrescentaram serviços</span> no período foram <%=@org_msn.first.artigo%> <span><%=@org_msn.first.nome_fantasia%></span> e <%=@org_msn.second.artigo%> <span><%=@org_msn.second.nome_fantasia%></span>, com <span><%=nmb_form(@org_msn.first.novos.size)%> novas páginas de serviço</span> cada (<%=percent(@org_msn.first.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos cada) e <%=@org_msn.third.artigo%> <span><%=@org_msn.third.nome_fantasia%></span>, que <span>acrescentou <%=nmb_form(@org_msn.third.novos.size)%> <%=@org_msn.third.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> (<%=percent(@org_msn.third.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos).
			<%end%>
		<%else%>
			<%if @org_msn.third.novos.size == @org_msn.second.novos.size && @org_msn.second.novos.size > 0%>
				Os órgãos que <span>mais acrescentaram serviços</span> no período foram <%=@org_msn.first.artigo%> <span><%=@org_msn.first.nome_fantasia%></span>, que acrescentou <span><%=nmb_form(@org_msn.first.novos.size)%> <%=@org_msn.first.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> (<%=percent(@org_msn.first.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos), e <%=@org_msn.second.artigo%> <span><%=@org_msn.second.nome_fantasia%></span> e <%=@org_msn.third.artigo%> <span><%=@org_msn.third.nome_fantasia%></span>, que acrescentaram <span><%=nmb_form(@org_msn.second.novos.size)%> <%=@org_msn.second.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> (<%=percent(@org_msn.first.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos cada).
			<%else%>
                <%if @org_msn.second.novos.size == 0%>
                    Somente <%=@org_msn.first.artigo%> <span><%=@org_msn.first.nome_fantasia%></span> acrescentou serviços no período, tendo cadastrado <span><%=nmb_form(@org_msn.first.novos.size)%> <%=@org_msn.first.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span>
                <%else%>
                    Os órgãos que <span>mais acrescentaram serviços</span> no período foram <%=@org_msn.first.artigo%> <span><%=@org_msn.first.nome_fantasia%></span>, que acrescentou <span><%=nmb_form(@org_msn.first.novos.size)%> <%=@org_msn.first.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> (<%=percent(@org_msn.first.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos).
                    <%if @org_msn.third.novos.size == 0%>
                        e <%=@org_msn.second.artigo%> <span><%=@org_msn.second.nome_fantasia%></span>, que cadastrou <span><%=nmb_form(@org_msn.second.novos.size)%> <%=@org_msn.second.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> (<%=percent(@org_msn.second.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos).
                    <%else%>
                        , <%=@org_msn.second.artigo%> <span><%=@org_msn.second.nome_fantasia%></span>, que cadastrou <span><%=nmb_form(@org_msn.second.novos.size)%> <%=@org_msn.second.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> (<%=percent(@org_msn.second.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos) e <%=@org_msn.third.artigo%> <span><%=@org_msn.third.nome_fantasia%></span> que cadastrou <span><%=nmb_form(@org_msn.third.novos.size)%> <%=@org_msn.third.novos.size == 1 ? 'nova página de serviço' : 'novas páginas de serviço'%></span> (<%=percent(@org_msn.second.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%> dos serviços novos).
                    <%end%>
			    <%end%>
		    <%end%>
	    <%end%>
    <%end%>



<!--Órgãos que mais retiraram serviços-->
	<%if @org_msr.first.retirados.size > 0%>
    	<%if @org_msr.first.retirados.size == @org_msr.second.retirados.size%>
        	<%if @org_msr.third.retirados.size == @org_msr.first.retirados.size%>
            	Os <span>órgãos que mais retiraram serviços</span> no período foram <%=@org_msr.first.artigo%> <span><%=@org_msr.first.nome_fantasia%></span>, <%=@org_msr.second.artigo%> <span><%=@org_msr.second.nome_fantasia%><span> e <%=@org_msr.third.artigo%> <span><%=@org_msr.third.nome_fantasia%></span>, que <span>retiraram <%=nmb_form(@org_msr.first.retirados.size)%> <%=@org_msr.first.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> cada um.
        	<%else%>
            	Os <span>órgãos que mais retiraram serviços</span> no período foram <%=@org_msr.first.artigo%> <span><%=@org_msr.first.nome_fantasia%></span> e <%=@org_msr.second.artigo%> <span><%=@org_msr.second.nome_fantasia%></span>, com <span><%=nmb_form(@org_msr.first.retirados.size)%> páginas retiradas</span> cada (<%=percent(@org_msr.first.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados cada) e <%=@org_msr.third.artigo%> <span><%=@org_msr.third.nome_fantasia%></span>, que <span>retirou <%=nmb_form(@org_msr.third.retirados.size)%> <%=@org_msr.third.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msr.third.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados).
        	<%end%>
    	<%else%>
        	<%if @org_msr.third.retirados.size == @org_msr.second.retirados.size && @org_msr.second.retirados.size > 0%>
           		Os <span>órgãos que mais retiraram serviços</span> no período foram <%=@org_msr.first.artigo%> <span><%=@org_msr.first.nome_fantasia%></span>, que <span>retirou <%=nmb_form(@org_msr.first.retirados.size)%> <%=@org_msr.first.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msr.first.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados), e <%=@org_msr.second.artigo%> <span><%=@org_msr.second.nome_fantasia%></span> e <%=@org_msr.third.artigo%> <span><%=@org_msr.third.nome_fantasia%></span>, que <span>retiraram <%=nmb_form(@org_msr.second.retirados.size)%> <%=@org_msr.second.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msr.first.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados cada).
        	<%else%>
           		<%if @org_msr.second.retirados.size == 0%>
                	Somente <%=@org_msr.first.artigo%> <span><%=@org_msr.first.nome_fantasia%></span> retirou serviços no período, tendo <span>retirado <%=nmb_form(@org_msr.first.retirados.size)%> <%=@org_msr.first.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%>.</span>
            	<%else%>
                	Os <span>órgãos que mais retiraram serviços</span> no período foram <%=@org_msr.first.artigo%> <span><%=@org_msr.first.nome_fantasia%></span>, que <span>retirou <%=nmb_form(@org_msr.first.retirados.size)%> <%=@org_msr.first.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msr.first.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados)
                	<%if @org_msr.third.retirados.size == 0%>
                    	e <%=@org_msr.second.artigo%> <span><%=@org_msr.second.nome_fantasia%></span>, que <span>retirou <%=nmb_form(@org_msr.second.retirados.size)%> <%=@org_msr.second.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msr.second.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados).
                	<%else%>
                    	, <%=@org_msr.second.artigo%> <span><%=@org_msr.second.nome_fantasia%></span>, que <span>retirou <%=nmb_form(@org_msr.second.retirados.size)%> <%=@org_msr.second.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msr.second.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados) e <%=@org_msr.third.artigo%> <span><%=@org_msr.third.nome_fantasia%></span> que <span>retirou <%=nmb_form(@org_msr.third.retirados.size)%> <%=@org_msr.third.retirados.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msr.second.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%> dos serviços retirados).
                	<%end%>
            	<%end%>
        	<%end%>
    	<%end%>
	<%end%>

<!--Órgãos atualmente com mais serviços no Portal-->
	<%if @org_msa.first.atuais.size > 0%>
		<%if @org_msa.first.atuais.size == @org_msa.second.atuais.size%>
			<%if @org_msa.third.atuais.size == @org_msa.first.atuais.size%>
				Os <span>órgãos com mais serviços no Portal</span> no momento são <%=@org_msa.first.artigo%> <span><%=@org_msa.first.nome_fantasia%></span>, <%=@org_msa.second.artigo%> <span><%=@org_msa.second.nome_fantasia%></span> e <%=@org_msa.third.artigo%> <span><%=@org_msa.third.nome_fantasia%></span>, cada um com <span><%=nmb_form(@org_msa.first.atuais.size)%> <%=@org_msa.first.atuais.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msa.third.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> dos serviços do Portal).
			<%else%>
				Os </span>órgãos com mais serviços no Portal<span> no momento são <%=@org_msa.first.artigo%> <span><%=@org_msa.first.nome_fantasia%></span> e <%=@org_msa.second.artigo%> <span><%=@org_msa.second.nome_fantasia%></span>, com <span><%=nmb_form(@org_msa.first.atuais.size)%> páginas de serviço</span> no Portal cada (<%=percent(@org_msa.first.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> das páginas de serviço atuais) e <%=@org_msa.third.artigo%> <span><%=@org_msa.third.nome_fantasia%></span>, que tem no Portal hoje <span><%=nmb_form(@org_msa.third.atuais.size)%> <%=@org_msa.third.atuais.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msa.third.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> das páginas de serviço no Portal).
			<%end%>
		<%else%>
			<%if @org_msa.third.atuais.size == @org_msa.second.atuais.size && @org_msa.second.atuais.size > 0%>
				Os <span>órgãos com mais serviços no Portal</span> no momento são <%=@org_msa.first.artigo%> <span><%=@org_msa.first.nome_fantasia%></span>, que é responsável por <span><%=nmb_form(@org_msa.first.atuais.size)%> <%=@org_msa.first.atuais.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msa.first.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> dos serviços atuais), e <%=@org_msa.second.artigo%> <span><%=@org_msa.second.nome_fantasia%></span> e <%=@org_msa.third.artigo%> <span><%=@org_msa.third.nome_fantasia%></span>, que possuem <span><%=nmb_form(@org_msa.second.atuais.size)%> <%=@org_msa.second.atuais.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msa.first.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> dos serviços hoje no Portal).
			<%else%>
				Os <span>órgãos com mais serviços no Portal</span> no momento são <%=@org_msa.first.artigo%> <span><%=@org_msa.first.nome_fantasia%></span>, que tem hoje <span><%=nmb_form(@org_msa.first.atuais.size)%> <%=@org_msa.first.atuais.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msa.first.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> dos serviços no Portal), <%=@org_msa.second.artigo%> <span><%=@org_msa.second.nome_fantasia%></span>, com <span><%=nmb_form(@org_msa.second.atuais.size)%> <%=@org_msa.second.atuais.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msa.second.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> dos serviços atuais) e <%=@org_msa.third.artigo%> <span><%=@org_msa.third.nome_fantasia%></span>, com <span><%=nmb_form(@org_msa.third.atuais.size)%> <%=@org_msa.third.atuais.size == 1 ? 'página de serviço' : 'páginas de serviço'%></span> (<%=percent(@org_msa.third.atuais.size.to_f/(@atuais.size == 0 ? 1 : @atuais.size))%> das páginas de serviço).
			<%end%>
		<%end%>
	<%end%>
	</p>

<!--Órgãos com mais avaliações no período-->
	<p>
    <%if @org_map.first.fotografia_periodo[0] > 0%>
		<%if @org_map.first.fotografia_periodo[0] == @org_map.second.fotografia_periodo[0]%>
			<%if @org_map.third.fotografia_periodo[0] == @org_map.first.fotografia_periodo[0]%>
				Os <span>órgãos que receberam mais avaliações</span> em suas páginas de serviço no período foram <%=@org_map.first.artigo%> <span><%=@org_map.first.nome_fantasia%></span>, <%=@org_map.second.artigo%> <span><%=@org_map.second.nome_fantasia%></span> e <%=@org_map.third.artigo%> <span><%=@org_map.third.nome_fantasia%></span>, que receberam <span><%=nmb_form(@org_map.first.fotografia_periodo[0])%> <%=@org_map.first.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> cada um (<%=percent(@org_map.third.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações das páginas de serviço do Portal no período).
			<%else%>
				Os <span>órgãos que receberam mais avaliações</span> em suas páginas de serviço no período foram  <%=@org_map.first.artigo%> <span><%=@org_map.first.nome_fantasia%></span> e <%=@org_map.second.artigo%> <span><%=@org_map.second.nome_fantasia%></span>, com <span><%=nmb_form(@org_map.first.fotografia_periodo[0])%> <%=@org_map.first.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> cada (<%=percent(@org_map.first.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações do Portal) e <%=@org_map.third.artigo%> <span><%=@org_map.third.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_map.third.fotografia_periodo[0])%> <%=@org_map.third.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@org_map.third.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações das páginas de serviço do Portal no período).
			<%end%>
		<%else%>
			<%if @org_map.third.fotografia_periodo[0] == @org_map.second.fotografia_periodo[0] && @org_map.second.fotografia_periodo[0] > 0%>
				Os <span>órgãos que receberam mais avaliações</span> em suas páginas de serviço no período foram <%=@org_map.first.artigo%> <span><%=@org_map.first.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_map.first.fotografia_periodo[0])%> <%=@org_map.first.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@org_map.first.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações no período), seguid<%=@org_map.first.artigo%> pel<%=@org_map.second.artigo%> <span><%=@org_map.second.nome_fantasia%></span> e pel<%=@org_map.third.artigo%> <span><%=@org_map.third.nome_fantasia%></span>, que receberam <span><%=nmb_form(@org_map.second.fotografia_periodo[0])%> <%=@org_map.second.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%> cada</span> (<%=percent(@org_map.first.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações das páginas de serviço do Portal no período).
			<%else%>
				<%if @org_map.second.fotografia_periodo[0] == 0%>
					Somente <%=@org_map.first.artigo%> <span><%=@org_map.first.nome_fantasia%></span> recebeu avaliações no período, tendo recebido <span><%=nmb_form(@org_map.first.fotografia_periodo[0])%> <%=@org_map.first.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span>
				<%else%>
					Os <span>órgãos que receberam mais avaliações</span> em suas páginas de serviço no período foram <%=@org_map.first.artigo%> <span><%=@org_map.first.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_map.first.fotografia_periodo[0])%> <%=@org_map.first.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@org_map.first.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações do período)
					<%if @org_map.third.fotografia_periodo[0] == 0%>
						e <%=@org_map.second.artigo%> <span><%=@org_map.second.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_map.second.fotografia_periodo[0])%> <%=@org_map.second.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@org_map.second.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações do período).
					<%else%>
						seguid<%=@org_map.first.artigo%> pel<%=@org_map.second.artigo%> <span><%=@org_map.second.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_map.second.fotografia_periodo[0])%> <%=@org_map.second.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@org_map.second.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações recebidas no período) e pel<%=@org_map.third.artigo%> <span><%=@org_map.third.nome_fantasia%></span> que recebeu <span><%=nmb_form(@org_map.third.fotografia_periodo[0])%> <%=@org_map.third.fotografia_periodo[0] == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@org_map.second.fotografia_periodo[0].to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> das avaliações das páginas de serviço do Portal no período).
					<%end%>
				<%end%>		
			<%end%>
		<%end%>
	<%end%>

<!--Órgãos com mais avaliações positivas no Período-->
	<%if @org_mpp.first.fotografia_periodo[1] > 0%>
		<%if @org_mpp.first.fotografia_periodo[1] == @org_mpp.second.fotografia_periodo[1]%>
			<%if @org_mpp.third.fotografia_periodo[1] == @org_mpp.first.fotografia_periodo[1]%>
				Os <span>órgãos que receberam mais avaliações positivas</span> em suas páginas de serviço no período foram <%=@org_mpp.first.artigo%> <span><%=@org_mpp.first.nome_fantasia%></span>, <%=@org_mpp.second.artigo%> <span><%=@org_mpp.second.nome_fantasia%></span> e <%=@org_mpp.third.artigo%> <span><%=@org_mpp.third.nome_fantasia%></span>, que receberam <span><%=nmb_form(@org_mpp.first.fotografia_periodo[1])%> <%=@org_mpp.first.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> cada um (<%=percent(@org_mpp.third.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas no período).
			<%else%>
				Os <span>órgãos que receberam mais avaliações positivas</span> em suas páginas de serviço no período foram  <%=@org_mpp.first.artigo%> <span><%=@org_mpp.first.nome_fantasia%></span> e <%=@org_mpp.second.artigo%> <span><%=@org_mpp.second.nome_fantasia%></span>, com <span><%=nmb_form(@org_mpp.first.fotografia_periodo[1])%> <%=@org_mpp.first.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> cada (<%=percent(@org_mpp.first.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas do período) e <%=@org_mpp.third.artigo%> <span><%=@org_mpp.third.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mpp.third.fotografia_periodo[1])%> <%=@org_mpp.third.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@org_mpp.third.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas no período).
			<%end%>
		<%else%>
			<%if @org_mpp.third.fotografia_periodo[1] == @org_mpp.second.fotografia_periodo[1] && @org_mpp.second.fotografia_periodo[1] > 0%>
				Os <span>órgãos que receberam mais avaliações positivas</span> em suas páginas de serviço no período foram <%=@org_mpp.first.artigo%> <span><%=@org_mpp.first.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mpp.first.fotografia_periodo[1])%> <%=@org_mpp.first.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@org_mpp.first.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas no período), seguid<%=@org_mpp.first.artigo%> pel<%=@org_mpp.second.artigo%> <span><%=@org_mpp.second.nome_fantasia%></span> e pel<%=@org_mpp.third.artigo%> <span><%=@org_mpp.third.nome_fantasia%></span>, que receberam <span><%=nmb_form(@org_mpp.second.fotografia_periodo[1])%> <%=@org_mpp.second.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%> cada</span> (<%=percent(@org_mpp.first.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas das páginas de serviço do Portal no período).
			<%else%>
				<%if @org_mpp.second.fotografia_periodo[1] == 0%>
					Somente <%=@org_mpp.first.artigo%> <span><%=@org_mpp.first.nome_fantasia%></span> recebeu avaliações positivas no período, tendo recebido <span><%=nmb_form(@org_mpp.first.fotografia_periodo[1])%> <%=@org_mpp.first.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span>.
				<%else%>
					Os <span>órgãos que receberam mais avaliações positivas</span> em suas páginas de serviço no período foram <%=@org_mpp.first.artigo%> <span><%=@org_mpp.first.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mpp.first.fotografia_periodo[1])%> <%=@org_mpp.first.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@org_mpp.first.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas do período)
					<%if @org_mpp.third.fotografia_periodo[1] == 0%>
						e <%=@org_mpp.second.artigo%> <span><%=@org_mpp.second.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mpp.second.fotografia_periodo[1])%> <%=@org_mpp.second.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@org_mpp.second.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas do período).
					<%else%>
						seguid<%=@org_mpp.first.artigo%> pel<%=@org_mpp.second.artigo%> <span><%=@org_mpp.second.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mpp.second.fotografia_periodo[1])%> <%=@org_mpp.second.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@org_mpp.second.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas recebidas no período) e pel<%=@org_mpp.third.artigo%> <span><%=@org_mpp.third.nome_fantasia%></span> que recebeu <span><%=nmb_form(@org_mpp.third.fotografia_periodo[1])%> <%=@org_mpp.third.fotografia_periodo[1] == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@org_mpp.second.fotografia_periodo[1].to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas das páginas de serviço do Portal no período).
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>

<!--Órgãos com mais avaliações negativas no período-->
    <%if @org_mnp.first.fotografia_periodo[2] > 0%>
		<%if @org_mnp.first.fotografia_periodo[2] == @org_mnp.second.fotografia_periodo[2]%>
			<%if @org_mnp.third.fotografia_periodo[2] == @org_mnp.first.fotografia_periodo[2]%>
				Os <span>órgãos que receberam mais avaliações negativas</span> no período foram <%=@org_mnp.first.artigo%> <span><%=@org_mnp.first.nome_fantasia%></span>, <%=@org_mnp.second.artigo%> <span><%=@org_mnp.second.nome_fantasia%></span> e <%=@org_mnp.third.artigo%> <span><%=@org_mnp.third.nome_fantasia%></span>, que receberam <span><%=nmb_form(@org_mnp.first.fotografia_periodo[2])%> <%=@org_mnp.first.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> cada um (<%=percent(@org_mnp.third.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas no período).
			<%else%>
				Os <span>órgãos que receberam mais avaliações negativas</span> no período foram <%=@org_mnp.first.artigo%> <span><%=@org_mnp.first.nome_fantasia%></span> e <%=@org_mnp.second.artigo%> <span><%=@org_mnp.second.nome_fantasia%></span>, com <span><%=nmb_form(@org_mnp.first.fotografia_periodo[2])%> <%=@org_mnp.first.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> cada (<%=percent(@org_mnp.first.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas do período) e <%=@org_mnp.third.artigo%> <span><%=@org_mnp.third.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mnp.third.fotografia_periodo[2])%> <%=@org_mnp.third.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@org_mnp.third.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas no período).
			<%end%>
		<%else%>
			<%if @org_mnp.third.fotografia_periodo[2] == @org_mnp.second.fotografia_periodo[2] && @org_mnp.second.fotografia_periodo[2] > 0%>
				Os <span>órgãos que receberam mais avaliações negativas</span> no período foram <%=@org_mnp.first.artigo%> <span><%=@org_mnp.first.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mnp.first.fotografia_periodo[2])%> <%=@org_mnp.first.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@org_mnp.first.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas no período), seguid<%=@org_mnp.first.artigo%> pel<%=@org_mnp.second.artigo%> <span><%=@org_mnp.second.nome_fantasia%></span> e pel<%=@org_mnp.third.artigo%> <span><%=@org_mnp.third.nome_fantasia%></span>, que receberam <span><%=nmb_form(@org_mnp.second.fotografia_periodo[2])%> <%=@org_mnp.second.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> cada (<%=percent(@org_mnp.first.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas  no período).
			<%else%>
				<%if @org_mnp.second.fotografia_periodo[2] == 0%>
					Somente <%=@org_mnp.first.artigo%> <span><%=@org_mnp.first.nome_fantasia%></span> recebeu avaliações negativas no período, tendo recebido <span><%=nmb_form(@org_mnp.first.fotografia_periodo[2])%> <%=@org_mnp.first.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%>
				<%else%>
					Os <span>órgãos que receberam mais avaliações negativas</span> em suas páginas de serviço no período foram <%=@org_mnp.first.artigo%> <span><%=@org_mnp.first.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mnp.first.fotografia_periodo[2])%> <%=@org_mnp.first.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@org_mnp.first.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas do período)
					<%if @org_mnp.third.fotografia_periodo[2] == 0%>
						e <%=@org_mnp.second.artigo%> <span><%=@org_mnp.second.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mnp.second.fotografia_periodo[2])%> <%=@org_mnp.second.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@org_mnp.second.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas do período).
					<%else%>
						seguid<%=@org_mnp.first.artigo%> pel<%=@org_mnp.second.artigo%> <span><%=@org_mnp.second.nome_fantasia%></span>, que recebeu <span><%=nmb_form(@org_mnp.second.fotografia_periodo[2])%> <%=@org_mnp.second.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@org_mnp.second.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas recebidas no período) e pel<%=@org_mnp.third.artigo%> <span><%=@org_mnp.third.nome_fantasia%></span> que recebeu <span><%=nmb_form(@org_mnp.third.fotografia_periodo[2])%> <%=@org_mnp.third.fotografia_periodo[2] == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@org_mnp.second.fotografia_periodo[2].to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas no período).
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
    </p>

<!--Gráfico de pizza com divisão das avaliações por Órgão-->
	<div style="margin:0;margin-top:-100px;margin-bottom:-20px">
		<div id="porc-aval" style="width:1000px;height:600px;margin:0;margin-top:-60px">
		</div>
	</div>

<!--Maior impacto negativo e maior impacto positivo no período-->
	<p>O <span>maior impacto positivo</span> nas avaliações do período foi d<%=@orgaos.sort_by{|o| o.impacto_periodo*-1}.first.artigo%> <span><%=@orgaos.sort_by{|o| o.impacto_periodo*-1}.first.nome_fantasia%></span> (<span><%=percent(@orgaos.sort_by{|o| o.impacto_periodo*-1}.first.impacto_periodo)%></span>). O <span>maior impacto negativo</span> foi d<%=@orgaos.sort_by{|o| o.impacto_periodo*-1}.last.artigo%> <span><%=@orgaos.sort_by{|o| o.impacto_periodo*-1}.last.nome_fantasia%></span> (<span><%=percent(@orgaos.sort_by{|o| o.impacto_periodo*-1}.last.impacto_periodo)%></span>)</p>

<!--Maior variação na aprovação média-->
	<p>
    <%if @org_difap.first.var_aprovacao_media > 0%>
		<%if (@org_difap.first.var_aprovacao_media*100).round(2) == (@org_difap.second.var_aprovacao_media*100).round(2)%>
			<%if (@org_difap.third.var_aprovacao_media*100).round(2) == (@org_difap.first.var_aprovacao_media*100).round(2)%>
				Os <span>órgãos que tiveram maior incremento na sua média de aprovação</span> foram <%=@org_difap.first.artigo%> <span><%=@org_difap.first.nome_fantasia%></span>, <%=@org_difap.second.artigo%> <span><%=@org_difap.second.nome_fantasia%></span> e <%=@org_difap.third.artigo%> <span><%=@org_difap.third.nome_fantasia%></span>, que tiveram um <span>acréscimo de <%=percent(@org_difap.first.var_aprovacao_media)%> em sua aprovação média</span>.
			<%else%>
				Os <span>órgãos que tiveram maior incremento na sua média de aprovação</span> foram <%=@org_difap.first.artigo%> <span><%=@org_difap.first.nome_fantasia%></span> e <%=@org_difap.second.artigo%> <span><%=@org_difap.second.nome_fantasia%></span>, com o <span>incremento de <%=percent(@org_difap.first.var_aprovacao_media)%> em suas respectivas médias</span> e <%=@org_difap.third.artigo%> <span><%=@org_difap.third.nome_fantasia%></span>, que por sua vez teve um <span>incremento de <%=percent(@org_difap.third.var_aprovacao_media)%> em sua aprovação média</span>.
			<%end%>
		<%else%>
			<%if (@org_difap.third.var_aprovacao_media*100).round(2) == (@org_difap.second.var_aprovacao_media*100).round(2) && @org_difap.second.var_aprovacao_media > 0%>
				Os <span>órgãos que tiveram maior incremento na sua média de aprovação</span> foram <%=@org_difap.first.artigo%> <span><%=@org_difap.first.nome_fantasia%></span>, que obteve um <span>incremento de <%=percent(@org_difap.first.var_aprovacao_media)%> em sua aprovação média</span>, seguid<%=@org_difap.first.artigo%> pel<%=@org_difap.second.artigo%> <span><%=@org_difap.second.nome_fantasia%></span> e pel<%=@org_difap.third.artigo%> <span><%=@org_difap.third.nome_fantasia%></span>, que tiveram ambos um <span>incremento de <%=percent(@org_difap.second.var_aprovacao_media)%> em suas respectivas aprovações médias</span>.
			<%else%>
				<%if @org_difap.second.var_aprovacao_media == 0%>
					Somente <%=@org_difap.first.artigo%> <span><%=@org_difap.first.nome_fantasia%></span> teve incremento em sua aprovação média, com <span><%=percent(@org_difap.first.var_aprovacao_media)%> de variação positiva</span>.
				<%else%>
					Os <span>órgãos que tiveram maior incremento na sua média de aprovação</span> foram <%=@org_difap.first.artigo%> <span><%=@org_difap.first.nome_fantasia%></span>, que teve um <span>aumento de <%=percent(@org_difap.first.var_aprovacao_media)%> em sua aprovação média</span> 
					<%if @org_difap.third.var_aprovacao_media == 0%>
						e <%=@org_difap.second.artigo%> <span><%=@org_difap.second.nome_fantasia%></span>, que teve um <span>aumento em sua aprovação média de <%=percent(@org_difap.second.var_aprovacao_media)%></span>.
					<%else%>
						seguid<%=@org_difap.first.artigo%> pel<%=@org_difap.second.artigo%> <span><%=@org_difap.second.nome_fantasia%></span>, que teve um <span>aumento em sua aprovação média de <%=percent(@org_difap.second.var_aprovacao_media)%></span> e pel<%=@org_difap.third.artigo%> <span><%=@org_difap.third.nome_fantasia%></span> que teve um <span>incremento de <%=percent(@org_difap.third.var_aprovacao_media)%>.
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
	</p>

<!--Órgãos com maior diferença positiva entre a aprovação média e aprovação do período-->
    <p>
    <%if @org_outp.first.outperformance > 0%>
		<%if (@org_outp.first.outperformance*100).round(2) == (@org_outp.second.outperformance*100).round(2)%>
			<%if (@org_outp.third.outperformance*100).round(2) == (@org_outp.first.outperformance*100).round(2)%>
				Os <span>órgãos que tiveram maior diferença positiva entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.first.artigo%> <span><%=@org_outp.first.nome_fantasia%></span>, <%=@org_outp.second.artigo%> <span><%=@org_outp.second.nome_fantasia%></span> e <%=@org_outp.third.artigo%> <span><%=@org_outp.third.nome_fantasia%></span>, que tiveram uma performance <span>superior em <%=percent(@org_outp.first.outperformance)%> cada</span>.
			<%else%>
				Os <span>órgãos que tiveram maior diferença positiva entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.first.artigo%> <span><%=@org_outp.first.nome_fantasia%></span> e <%=@org_outp.second.artigo%> <span><%=@org_outp.second.nome_fantasia%></span>, com uma performance <span>superior em <%=percent(@org_outp.first.outperformance)%></span> em relação às suas respectivas aprovações médias e <%=@org_outp.third.artigo%> <span><%=@org_outp.third.nome_fantasia%></span>, que por sua vez teve uma <span>performance <%=percent(@org_outp.third.outperformance)%> superior</span>.
			<%end%>
		<%else%>
			<%if (@org_outp.third.outperformance*100).round(2) == (@org_outp.second.outperformance*100).round(2) && @org_outp.second.outperformance > 0%>
				Os <span>órgãos que tiveram maior diferença positiva entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.first.artigo%> <span><%=@org_outp.first.nome_fantasia%></span>, que foi <span><%=percent(@org_outp.first.outperformance)%> melhor avaliado</span> do que em média, seguid<%=@org_outp.first.artigo%> pel<%=@org_outp.second.artigo%> <span><%=@org_outp.second.nome_fantasia%></span> e pel<%=@org_outp.third.artigo%> <span><%=@org_outp.third.nome_fantasia%></span>, que tiveram ambos uma <span>performance <%=percent(@org_outp.second.outperformance)%> superior</span>.
			<%else%>
				<%if @org_outp.second.outperformance == 0%>
					Somente <%=@org_outp.first.artigo%> <span><%=@org_outp.first.nome_fantasia%></span> teve um desempenho no período superior à sua aprovação média, com uma <span>performance <%=percent(@org_outp.first.outperformance)%> superior"</span>
				<%else%>
					Os <span>órgãos que tiveram maior diferença positiva entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.first.artigo%> <span><%=@org_outp.first.nome_fantasia%></span>, que teve uma aprovação no período <span><%=percent(@org_outp.first.outperformance)%> superior</span> à tendência anterior,
					<%if @org_outp.third.outperformance == 0%>
						e <%=@org_outp.second.artigo%> <span><%=@org_outp.second.nome_fantasia%></span>, que por sua vez teve uma aprovação no período <span><%=percent(@org_outp.second.outperformance)%> superior à sua média anterior</span>.
					<%else%>
						seguid<%=@org_outp.first.artigo%> pel<%=@org_outp.second.artigo%> <span><%=@org_outp.second.nome_fantasia%></span>, com um desempenho <span><%=percent(@org_outp.second.outperformance)%> acima</span> e pel<%=@org_outp.third.artigo%> <span><%=@org_outp.third.nome_fantasia%></span> que teve, por sua vez, uma performance <span><%=percent(@org_outp.third.outperformance)%> superior</span> nas avaliações.
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>

<!--Órgãos com maior diferença negativa entre sua aprovação média e a aprovação do período-->
   <%if @org_outp.reverse.first.outperformance < 0%>
		<%if (@org_outp.reverse.first.outperformance*100).round(2) == (@org_outp.reverse.second.outperformance*100).round(2)%>
			<%if (@org_outp.reverse.third.outperformance*100).round(2) == (@org_outp.reverse.first.outperformance*100).round(2)%>
				Os <span>órgãos que tiveram maior diferença negativa entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.reverse.first.artigo%> <span><%=@org_outp.reverse.first.nome_fantasia%></span>, <%=@org_outp.reverse.second.artigo%> <span><%=@org_outp.reverse.second.nome_fantasia%></span> e <%=@org_outp.reverse.third.artigo%> <span><%=@org_outp.reverse.third.nome_fantasia%></span>, que tiveram uma performance <span>inferior em <%=percent(@org_outp.reverse.first.outperformance.abs)%> cada</span>.
			<%else%>
				Os <span>órgãos que tiveram maior diferença negativa entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.reverse.first.artigo%> <span><%=@org_outp.reverse.first.nome_fantasia%></span> e <%=@org_outp.reverse.second.artigo%> <span><%=@org_outp.reverse.second.nome_fantasia%></span>, com uma performance <span><%=percent(@org_outp.reverse.first.outperformance.abs)%> abaixo</span> de seus respectivos padrões e <%=@org_outp.reverse.third.artigo%> <span><%=@org_outp.reverse.third.nome_fantasia%></span>, que por sua vez teve um desempenho <span><%=percent(@org_outp.reverse.third.outperformance.abs)%> inferior</span> à tendência dos períodos anteriores.
			<%end%>
		<%else%>
			<%if (@org_outp.reverse.third.outperformance*100).round(2) == (@org_outp.reverse.second.outperformance*100).round(2) && @org_outp.reverse.second.outperformance < 0%>
				Os <span>órgãos que tiveram maior diferença negativa entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.reverse.first.artigo%> <span><%=@org_outp.reverse.first.nome_fantasia%></span>, que teve uma performance <span><%=percent(@org_outp.reverse.first.outperformance.abs)%> inferior</span> ao padrão dos períodos anteriores, seguid<%=@org_outp.reverse.first.artigo%> pel<%=@org_outp.reverse.second.artigo%> <span><%=@org_outp.reverse.second.nome_fantasia%></span> e pel<%=@org_outp.reverse.third.artigo%> <span><%=@org_outp.reverse.third.nome_fantasia%></span>, que tiveram ambos um desempenho <span><%=percent(@org_outp.reverse.second.outperformance.abs)%> inferior</span> em relação à tendência dos períodos anteriores.
			<%else%>
				<%if @org_outp.reverse.second.outperformance == 0%>
					Somente <%=@org_outp.reverse.first.artigo%> <span><%=@org_outp.reverse.first.nome_fantasia%></span> teve um desempenho no período inferior à sua aprovação média, com uma performance <span><%=percent(@org_outp.reverse.first.outperformance.abs)%> inferior</span>.
				<%else%>
					Os <span>órgãos que tiveram maior diferença negativa entre seu desempenho no período e sua aprovação média</span> foram <%=@org_outp.reverse.first.artigo%> <span><%=@org_outp.reverse.first.nome_fantasia%></span>, que teve uma performance <span><%=percent(@org_outp.reverse.first.outperformance.abs)%> inferior</span> ao seu padrão anterior
					<%if @org_outp.reverse.third.outperformance == 0%>
						e <%=@org_outp.reverse.second.artigo%> <span><%=@org_outp.reverse.second.nome_fantasia%></span>, que por sua vez teve uma aprovação no período <span><%=percent(@org_outp.reverse.second.outperformance.abs)%> abaixo</span> da tendência que vinha seguindo. 
					<%else%>
						seguid<%=@org_outp.reverse.first.artigo%> pel<%=@org_outp.reverse.second.artigo%> <span><%=@org_outp.reverse.second.nome_fantasia%></span>, que teve um desempenho <span><%=percent(@org_outp.reverse.second.outperformance.abs)%> abaixo</span> do padrão que vinha seguindo e pel<%=@org_outp.reverse.third.artigo%> <span><%=@org_outp.reverse.third.nome_fantasia%></span> que teve, por sua vez, uma performance <span><%=percent(@org_outp.reverse.third.outperformance.abs)%> inferior</span> à média anterior.
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
    </p>

<!--Gráfico de barras outperformance-->
	<div id="medias"></div>

<!--Serviços com mais avaliações no período-->
     <p>
	<%if @serv_map.first.qtd_avaliacoes_periodo > 0%>
		<%if @serv_map.first.qtd_avaliacoes_periodo == @serv_map.second.qtd_avaliacoes_periodo%>
			<%if @serv_map.third.qtd_avaliacoes_periodo == @serv_map.first.qtd_avaliacoes_periodo%>
				Os <span>serviços que receberam mais avaliações no período</span> foram <span><i>"<%=@serv_map.first.nome%>"</i></span>, d<%@serv_map.first.orgao.artigo%> <%=@serv_map.first.orgao.nome_fantasia%>, <span><i>"<%=@serv_map.second.nome%>"</i></span>, d<%@serv_map.second.orgao.artigo%> <%=@serv_map.second.orgao.nome_fantasia%> e <span><i>"<%=@serv_map.third.nome%>"</i></span>, d<%@serv_map.third.orgao.artigo%> <%=@serv_map.third.orgao.nome_fantasia%>, cada um com <span><%=nmb_form(@serv_map.first.qtd_avaliacoes_periodo)%> <%=@serv_map.first.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@serv_map.third.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total).
			<%else%>
				Os <span>serviços que receberam mais avaliações no período</span> foram <span><i>"<%=@serv_map.first.nome%>"</i></span>, d<%@serv_map.first.orgao.artigo%> <%=@serv_map.first.orgao.nome_fantasia%> e <span><i>"<%=@serv_map.second.nome%>"</i></span>, d<%@serv_map.second.orgao.artigo%> <%=@serv_map.second.orgao.nome_fantasia%>, com <span><%=nmb_form(@serv_map.first.qtd_avaliacoes_periodo)%> <%=@serv_map.first.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%> cada</span> (<%=percent(@serv_map.first.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total) e <span><i>"<%=@serv_map.third.nome%>"</i></span>, d<%@serv_map.third.orgao.artigo%> <%=@serv_map.third.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_map.third.qtd_avaliacoes_periodo)%> <%=@serv_map.third.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@serv_map.third.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total de avaliações no período).
			<%end%>
		<%else%>
			<%if @serv_map.third.qtd_avaliacoes_periodo == @serv_map.second.qtd_avaliacoes_periodo && @serv_map.second.qtd_avaliacoes_periodo > 0%>
				Os <span>serviços que receberam mais avaliações no período</span> foram <span><i>"<%=@serv_map.first.nome%>"</i></span>, d<%@serv_map.first.orgao.artigo%> <%=@serv_map.first.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_map.first.qtd_avaliacoes_periodo)%> <%=@serv_map.first.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> <%=percent(@serv_map.first.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total), e <span><i>"<%=@serv_map.second.nome%>"</i></span>, d<%@serv_map.second.orgao.artigo%> <%=@serv_map.second.orgao.nome_fantasia%> e <span><i>"<%=@serv_map.third.nome%>"</i></span>, d<%@serv_map.third.orgao.artigo%> <%=@serv_map.third.orgao.nome_fantasia%>, que receberam <span><%=nmb_form(@serv_map.second.qtd_avaliacoes_periodo)%> <%=@serv_map.second.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@serv_map.first.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total de avaliações do período).
			<%else%>
				<%if @serv_map.second.qtd_avaliacoes_periodo == 0%>
					Somente <span><i>"<%=@serv_map.first.nome%>"</i></span>, d<%=@serv_map.first.orgao.artigo%> <%=@serv_map.first.orgao.nome_fantasia%> recebeu avaliações no período, um total de <span><%=nmb_form(@serv_map.first.qtd_avaliacoes_periodo)%> <%=@serv_map.first.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span>.
				<%else%>
					Os <span>serviços que receberam mais avaliações no período</span> foram <span><i>"<%=@serv_map.first.nome%>"</i></span>, d<%=@serv_map.first.orgao.artigo%> <%=@serv_map.first.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_map.first.qtd_avaliacoes_periodo)%> <%=@serv_map.first.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@serv_map.first.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total)
					<%if @serv_map.third.qtd_avaliacoes_periodo == 0%>
						e <span><i>"<%=@serv_map.second.nome%>"</i></span>, d<%=@serv_map.second.orgao.artigo%> <%=@serv_map.second.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_map.second.qtd_avaliacoes_periodo)%> <%=@serv_map.second.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@serv_map.second.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total de avaliações do período).
					<%else%>
						, <span><i>"<%=@serv_map.second.nome%>"</i></span>, d<%=@serv_map.second.orgao.artigo%> <%=@serv_map.second.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_map.second.qtd_avaliacoes_periodo)%> <%=@serv_map.second.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@serv_map.second.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total) e <span><i>"<%=@serv_map.third.nome%>"</i></span>, <%=@serv_map.third.orgao.artigo%> <%=@serv_map.third.orgao.nome_fantasia%> que recebeu <span><%=nmb_form(@serv_map.third.qtd_avaliacoes_periodo)%> <%=@serv_map.third.qtd_avaliacoes_periodo == 1 ? 'avaliação' : 'avaliações'%></span> (<%=percent(@serv_map.second.qtd_avaliacoes_periodo.to_f/(@cronos_fot_periodo[0] == 0 ? 1 : @cronos_fot_periodo[0]))%> do total de avaliações do período).
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
<!--Serviços com mais avaliações positivas no período-->
    <%if @serv_mpp.first.qtd_positivas_periodo > 0%>
		<%if @serv_mpp.first.qtd_positivas_periodo == @serv_mpp.second.qtd_positivas_periodo%>
			<%if @serv_mpp.third.qtd_positivas_periodo == @serv_mpp.first.qtd_positivas_periodo%>
				Os <span>serviços que receberam mais avaliações positivas no período</span> foram <span><i>"<%=@serv_mpp.first.nome%>"</i></span>, d<%@serv_mpp.first.orgao.artigo%> <%=@serv_mpp.first.orgao.nome_fantasia%>,<span><i>"<%=@serv_mpp.second.nome%>"</i></span>, d<%@serv_mpp.second.orgao.artigo%> <%=@serv_mpp.second.orgao.nome_fantasia%> e <span><i>"<%=@serv_mpp.third.nome%>"</i></span>, d<%@serv_mpp.third.orgao.artigo%> <%=@serv_mpp.third.orgao.nome_fantasia%>, cada um com <span><%=nmb_form(@serv_mpp.first.qtd_positivas_periodo)%> <%=@serv_mpp.first.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@serv_mpp.third.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas do período).
			<%else%>
				Os <span>serviços que receberam mais avaliações positivas no período</span> foram <span><i>"<%=@serv_mpp.first.nome%>"</i></span>, d<%@serv_mpp.first.orgao.artigo%> <%=@serv_mpp.first.orgao.nome_fantasia%> e <span><i>"<%=@serv_mpp.second.nome%>"</i></span>, d<%@serv_mpp.second.orgao.artigo%> <%=@serv_mpp.second.orgao.nome_fantasia%>, com <span><%=nmb_form(@serv_mpp.first.qtd_positivas_periodo)%> <%=@serv_mpp.first.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%> cada</span> (<%=percent(@serv_mpp.first.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas) e <span><i><%=@serv_mpp.third.nome%>"</i></span>, d<%@serv_mpp.third.orgao.artigo%> <%=@serv_mpp.third.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mpp.third.qtd_positivas_periodo)%> <%=@serv_mpp.third.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@serv_mpp.third.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> do total de avaliações positivas no período).
			<%end%>
		<%else%>
			<%if @serv_mpp.third.qtd_positivas_periodo == @serv_mpp.second.qtd_positivas_periodo && @serv_mpp.second.qtd_positivas_periodo > 0%>
				Os <span>serviços que receberam mais avaliações positivas no período</span> foram <span><i>"<%=@serv_mpp.first.nome%>"</i></span>, d<%@serv_mpp.first.orgao.artigo%> <%=@serv_mpp.first.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mpp.first.qtd_positivas_periodo)%> <%=@serv_mpp.first.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> <%=percent(@serv_mpp.first.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas), e <span><i>"<%=@serv_mpp.second.nome%>"</i></span>, d<%@serv_mpp.second.orgao.artigo%> <%=@serv_mpp.second.orgao.nome_fantasia%> e <span><i><%=@serv_mpp.third.nome%>"</i></span>, d<%@serv_mpp.third.orgao.artigo%> <%=@serv_mpp.third.orgao.nome_fantasia%>, que receberam <span><%=nmb_form(@serv_mpp.second.qtd_positivas_periodo)%> <%=@serv_mpp.second.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@serv_mpp.first.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> do total de avaliações positivas do período).
			<%else%>
				<%if @serv_mpp.second.qtd_positivas_periodo == 0%>
					Somente <span><i>"<%=@serv_mpp.first.nome%>"</i></span>, d<%=@serv_mpp.first.orgao.artigo%> <%=@serv_mpp.first.orgao.nome_fantasia%> recebeu avaliações positivas no período, um total de <span><%=nmb_form(@serv_mpp.first.qtd_positivas_periodo)%> <%=@serv_mpp.first.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span>.
				<%else%>
					Os <span>serviços que receberam mais avaliações positivas no período</span> foram <span><i>"<%=@serv_mpp.first.nome%>"</i></span>, d<%=@serv_mpp.first.orgao.artigo%> <%=@serv_mpp.first.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mpp.first.qtd_positivas_periodo)%> <%=@serv_mpp.first.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@serv_mpp.first.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas)
					<%if @serv_mpp.third.qtd_positivas_periodo == 0%>
						e <span><i>"<%=@serv_mpp.second.nome%>"</i></span>, d<%=@serv_mpp.second.orgao.artigo%> <%=@serv_mpp.second.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mpp.second.qtd_positivas_periodo)%> <%=@serv_mpp.second.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@serv_mpp.second.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> do total de avaliações positivas do período).
					<%else%>
						, <span><i>"<%=@serv_mpp.second.nome%>"</i></span>, d<%=@serv_mpp.second.orgao.artigo%> <%=@serv_mpp.second.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mpp.second.qtd_positivas_periodo)%> <%=@serv_mpp.second.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@serv_mpp.second.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> das avaliações positivas) e <span><i>"<%=@serv_mpp.third.nome%>"</i></span>, d<%=@serv_mpp.third.orgao.artigo%> <%=@serv_mpp.third.orgao.nome_fantasia%> que recebeu <span><%=nmb_form(@serv_mpp.third.qtd_positivas_periodo)%> <%=@serv_mpp.third.qtd_positivas_periodo == 1 ? 'avaliação positiva' : 'avaliações positivas'%></span> (<%=percent(@serv_mpp.second.qtd_positivas_periodo.to_f/(@cronos_fot_periodo[1] == 0 ? 1 : @cronos_fot_periodo[1]))%> do total de avaliações positivas do período).
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>

<!--Serviços com mais avaliações negativas no período-->
    <%if @serv_mnp.first.qtd_negativas_periodo > 0%>
		<%if @serv_mnp.first.qtd_negativas_periodo == @serv_mnp.second.qtd_negativas_periodo%>
			<%if @serv_mnp.third.qtd_negativas_periodo == @serv_mnp.first.qtd_negativas_periodo%>
				Os <span>serviços que receberam mais avaliações negativas no período</span> foram <span><i>"<%=@serv_mnp.first.nome%>"</i></span>, d<%@serv_mnp.first.orgao.artigo%> <%=@serv_mnp.first.orgao.nome_fantasia%>,<span><i>"<%=@serv_mnp.second.nome%>"</i></span>, d<%@serv_mnp.second.orgao.artigo%> <%=@serv_mnp.second.orgao.nome_fantasia%> e <span><i>"<%=@serv_mnp.third.nome%>"</i></span>, d<%@serv_mnp.third.orgao.artigo%> <%=@serv_mnp.third.orgao.nome_fantasia%>, cada um com <span><%=nmb_form(@serv_mnp.first.qtd_negativas_periodo)%> <%=@serv_mnp.first.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@serv_mnp.third.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas do período).
			<%else%>
				Os <span>serviços que receberam mais avaliações negativas no período</span> foram <span><i>"<%=@serv_mnp.first.nome%>"</i></span>, d<%@serv_mnp.first.orgao.artigo%> <%=@serv_mnp.first.orgao.nome_fantasia%> e <span><i>"<%=@serv_mnp.second.nome%>"</i></span>, d<%@serv_mnp.second.orgao.artigo%> <%=@serv_mnp.second.orgao.nome_fantasia%>, com <span><%=nmb_form(@serv_mnp.first.qtd_negativas_periodo)%> <%=@serv_mnp.first.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> cada (<%=percent(@serv_mnp.first.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas) e <span><i>"<%=@serv_mnp.third.nome%>"</i></span>, d<%@serv_mnp.third.orgao.artigo%> <%=@serv_mnp.third.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mnp.third.qtd_negativas_periodo)%> <%=@serv_mnp.third.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@serv_mnp.third.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> do total de avaliações negativas no período).
			<%end%>
		<%else%>
			<%if @serv_mnp.third.qtd_negativas_periodo == @serv_mnp.second.qtd_negativas_periodo && @serv_mnp.second.qtd_negativas_periodo > 0%>
				Os <span>serviços que receberam mais avaliações negativas no período</span> foram <span><i>"<%=@serv_mnp.first.nome%>"</i></span>, d<%@serv_mnp.first.orgao.artigo%> <%=@serv_mnp.first.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mnp.first.qtd_negativas_periodo)%> <%=@serv_mnp.first.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> <%=percent(@serv_mnp.first.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas), e <span><i>"<%=@serv_mnp.second.nome%>"</i></span>, d<%@serv_mnp.second.orgao.artigo%> <%=@serv_mnp.second.orgao.nome_fantasia%> e <span><i>"<%=@serv_mnp.third.nome%>"</i></span>, d<%=@serv_mnp.third.orgao.artigo%> <%=@serv_mnp.third.orgao.nome_fantasia%>, que receberam <span><%=nmb_form(@serv_mnp.second.qtd_negativas_periodo)%> <%=@serv_mnp.second.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@serv_mnp.first.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> do total de avaliações negativas do período).
			<%else%>
				<%if @serv_mnp.second.qtd_negativas_periodo == 0%>
					Somente <span><i>"<%=@serv_mnp.first.nome%>"</i></span>, d<%=@serv_mnp.first.orgao.artigo%> <%=@serv_mnp.first.orgao.nome_fantasia%> recebeu avaliações negativas no período, um total de <span><%=nmb_form(@serv_mnp.first.qtd_negativas_periodo)%> <%=@serv_mnp.first.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span>
				<%else%>
					Os <span>serviços que receberam mais avaliações negativas no período</span> foram <span><i>"<%=@serv_mnp.first.nome%>"</i></span>, d<%=@serv_mnp.first.orgao.artigo%> <%=@serv_mnp.first.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mnp.first.qtd_negativas_periodo)%> <%=@serv_mnp.first.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@serv_mnp.first.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas)
					<%if @serv_mnp.third.qtd_negativas_periodo == 0%>
						e <span><i>"<%=@serv_mnp.second.nome%>"</i></span>, d<%=@serv_mnp.second.orgao.artigo%> <%=@serv_mnp.second.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mnp.second.qtd_negativas_periodo)%> <%=@serv_mnp.second.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@serv_mnp.second.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> do total de avaliações negativas do período).
					<%else%>
						, <span><i>"<%=@serv_mnp.second.nome%>"</i></span>, d<%=@serv_mnp.second.orgao.artigo%> <%=@serv_mnp.second.orgao.nome_fantasia%>, que recebeu <span><%=nmb_form(@serv_mnp.second.qtd_negativas_periodo)%> <%=@serv_mnp.second.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@serv_mnp.second.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> das avaliações negativas) e <span><i>"<%=@serv_mnp.third.nome%>"</i></span>, d<%=@serv_mnp.third.orgao.artigo%> <%=@serv_mnp.third.orgao.nome_fantasia%> que recebeu <span><%=nmb_form(@serv_mnp.third.qtd_negativas_periodo)%> <%=@serv_mnp.third.qtd_negativas_periodo == 1 ? 'avaliação negativa' : 'avaliações negativas'%></span> (<%=percent(@serv_mnp.second.qtd_negativas_periodo.to_f/(@cronos_fot_periodo[2] == 0 ? 1 : @cronos_fot_periodo[2]))%> do total de avaliações negativas do período).
					<%end%>
				<%end%>
			<%end%>
		<%end%>
	<%end%>
    </p>

<!--Serviços com melhor e pior aprovação no Portal atualmente-->
	<p> Entre os <span>serviços com pelo menos 1.000 avaliações</span>, o <span>melhor avaliado</span> hoje no Portal é <span><i>"<%=@serv_mapvg.first.nome%>"</i></span>, d<%=@serv_mapvg.first.orgao.artigo%> <%=@serv_mapvg.first.orgao.nome_fantasia%>, com <span><%=percent(@serv_mapvg.first.aprovacao_geral)%> de aprovação</span> (<%=percent(@serv_mapvg.first.aprovacao_geral - @cronos_last.aprovacao_media)%> acima da média), e o <span>pior avaliado</span> é <span><i>"<%=@serv_mapvg.reverse.first.nome%>"</i></span>, d<%=@serv_mapvg.reverse.first.orgao.artigo%> <%=@serv_mapvg.reverse.first.orgao.nome_fantasia%>, com <span><%=percent(@serv_mapvg.reverse.first.aprovacao_geral)%> de aprovação</span> (<%=percent(@serv_mapvg.reverse.first.aprovacao_geral - @cronos_last.aprovacao_media.abs)%> abaixo da média).</p>
	<br>
</div>