<div class="container">
    <h3 style="text-align:center">Portal gov.br - Relatório da avaliação de informações das páginas de serviço: <%=bradate(@data_inicial)%> a <%=bradate(@data_final)%></h3>
    <br>
    <br>

    <p>Serviços novos: <%=nmb_form(@novos)%></p>
    <p>Serviços retirados: <%=nmb_form(@retirados)%></p>
    <p>Serviços mantidos: <%=nmb_form(@mantidos)%></p>
    <p>Serviços atuais: <%=nmb_form(@atuais)%></p>
<br>
<br>
    <div class="row">
        <div class="col-sm-6">
            <h3><%=bradate(Tempo.cronos.last.data.to_date)%></h3>
            <%@status.each do |k, s|%>
                <%if k == :apv_periodo || k == :aprovacao%>
                    <p><%=k%>: <%=percent(s)%></p>
                <%else%>
                    <p><%=k%>: <%=nmb_form(s)%></p>
                <%end%>
            <%end%>
        </div>
        <div class="col-sm-6">
            <h3><%=bradate(Tempo.cronos[-2].data.to_date)%></h3>
            <%@status_ant.each do |k, s|%>
                <%if k == :apv_periodo || k == :aprovacao%>
                    <p><%=k%>: <%=percent(s)%></p>
                <%else%>
                    <p><%=k%>: <%=nmb_form(s)%></p>
                <%end%>
            <%end%>
        </div>
    </div>
</div>