<div class="container">
    <h4 class="title">Data: <%=bradate(@cronos.last.data)%></h4>
    <br>
    <h5 class="subtitle">Situação Geral Atual:</h5>
    <div class="row">
        <div class ="col-sm-2">
            <div class="two-column-card little-box">
                <h6>Serviços:</h6>
                <div class="gran-num"><span><%=nmb_form(@atuais.size)%></span></div>
            </div>
        </div>
        <div class ="col-sm-2">
            <div class="two-column-card little-box">
                <h6>Órgãos:</h6>
                <div class="gran-num"><span><%=nmb_form(@orgaos.size)%></span></div>
            </div>
        </div>
        <div class ="col-sm-6">
            <div class="two-column-card little-box">
                <h6>Avaliações:</h6>
                <div class="gran-num"><span><%=nmb_form(@cronos_fot_geral[0])%></span> avaliações (<span><%=nmb_form(@cronos_fot_geral[1])%></span> positivas x <span><%=nmb_form(@cronos_fot_geral[2])%></span> negativas)</div>
            </div>
        </div>
        <div class ="col-sm-2">
            <div class="two-column-card little-box">
                <h6>Aprovação Média:</h6>
                <div class="gran-num"><span><%=percent(@cronos_last.aprovacao_media)%></span></div>
            </div>
        </div>
    </div>
    <br>
    <div class="card one-column-card">
        <h5>Modificações Gerais no Último Período:</h5>
        <div class="single">
            <ul style="margin:0">
                <li>Foram acrescentados <span><%=nmb_form(@novos.size)%></span> serviços, que receberam <span><%=nmb_form(@av_novos[0])%></span> avaliações no período (<span><%=nmb_form(@av_novos[1])%></span> positivas x <span><%=nmb_form(@av_novos[2])%></span> negativas).</li>
                <li>Foram retirados <span><%=nmb_form(@retirados.size)%></span> serviços, que tiraram do Portal <span><%=nmb_form(@av_retirados[0])%></span> avaliações (<span><%=nmb_form(@av_retirados[1])%></span> positivas x <span><%=nmb_form(@av_retirados[2])%></span> negativas).</li>
                <li>Os restantes <span><%=nmb_form(@mantidos.size)%></span> serviços foram mantidos, e tiveram no período <span><%=nmb_form(@av_mantidos[0])%></span> avaliações (<span><%=nmb_form(@av_mantidos[1])%></span> positivas x <span><%=nmb_form(@av_mantidos[2])%> negativas</span>).</li>
                <li>A aprovação no período foi de <span><%=percent(@cronos_last.aprovacao_periodo)%></span> (<cite>Abaixo <%=percent(@cronos_last.aprovacao_periodo - @cronos[-2].aprovacao_media)%> em relação à aprovação média anterior</cite>).</li>
                <li>Houve uma variação de <span><%=percent(@varapvmedia)%></span> na aprovação média como consequência do período.</li>
            </ul>
        </div>
    </div>
    <br>
    <h5 class="subtitle">Serviços:</h5>
    <div class="row">
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Maior quantidade de Avaliações (Geral):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group = @serv_mag[0..2]%>
                <%n = 0%>
                <%@group.each do |g|%>
                    <%n += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><span><%=nmb_form(g.qtd_avaliacoes)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.qtd_avaliacoes.to_f/@cronos_fot_geral[0])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Maior quantidade de Avaliações (Período):</h6>
               <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group2 = @serv_map[0..2]%>
                <%n2 = 0%>
                <%@group2.each do |g|%>
                    <%n2 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n2%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><span><%=nmb_form(g.qtd_avaliacoes_periodo)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.qtd_avaliacoes_periodo.to_f/@cronos_fot_periodo[0])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Maior quantidade de Avaliações Positivas (Geral):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group3 = @serv_mpg[0..2]%>
                <%n3 = 0%>
                <%@group3.each do |g|%>
                    <%n3 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n3%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=nmb_form(g.qtd_positivas)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.qtd_positivas.to_f/@cronos_fot_geral[1])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Maior quantidade de Avaliações Positivas(Período):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group4 = @serv_mpp[0..2]%>
                <%n4 = 0%>
                <%@group4.each do |g|%>
                    <%n4 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n4%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=nmb_form(g.qtd_positivas_periodo)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.qtd_positivas_periodo.to_f/@cronos_fot_periodo[1])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Maior quantidade de Avaliações Negativas (Geral):</h6>
                 <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group5 = @serv_mng[0..2]%>
                <%n5 = 0%>
                <%@group5.each do |g|%>
                    <%n5 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n5%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=nmb_form(g.qtd_negativas)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.qtd_negativas.to_f/@cronos_fot_geral[2])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Maior quantidade de Avaliações Negativas (Período):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group6 = @serv_mnp[0..2]%>
                <%n6 = 0%>
                <%@group6.each do |g|%>
                    <%n6 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n6%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=nmb_form(g.qtd_negativas_periodo)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.qtd_negativas_periodo.to_f/@cronos_fot_periodo[2])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
           <div class="two-column-card-pos">
                <h6>Melhor avaliados (Geral):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group7 = @serv_mapvg[0..2]%>
                <%n7 = 0%>
                <%@group7.each do |g|%>
                    <%n7 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n7%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_geral)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.aprovacao_geral - @cronos_last.aprovacao_media)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Melhor avaliados (Periodo):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group8 = @serv_mapvp[0..2]%>
                <%n8 = 0%>
                <%@group8.each do |g|%>
                    <%n8 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n8%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_periodo)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.aprovacao_periodo - @cronos_last.aprovacao_periodo)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Pior avaliados (Geral):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group9 = @serv_mapvg.reverse[0..2]%>
                <%n9 = 0%>
                <%@group9.each do |g|%>
                    <%n9 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n9%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_geral)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.aprovacao_geral - @cronos_last.aprovacao_media)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Pior avaliados (Periodo):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-7">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-2">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group10 = @serv_mapvp.reverse[0..2]%>
                <%n10 = 0%>
                <%@group10.each do |g|%>
                    <%n10 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n10%>º</p>
                        </div>
                        <div class="col-sm-7">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-2">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_periodo)%></span></p>
                        </div>
                        <div class="col-sm-2">
                            <p style="text-align:center"><%=percent(g.aprovacao_periodo - @cronos_last.aprovacao_periodo)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
           <div class="two-column-card-pos">
                <h6>Maior Impacto Positivo (Geral):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-8">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Impacto</p>
                    </div>
                </div>
                <br>
                <%@group11 = @serv_mig[0..2]%>
                <%n11 = 0%>
                <%@group11.each do |g|%>
                    <%n11 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n11%>º</p>
                        </div>
                        <div class="col-sm-8">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.impacto_geral)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Maior Impacto Positivo (Período):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-8">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Impacto</p>
                    </div>
                </div>
                <br>
                <%@group12 = @serv_mip[0..2]%>
                <%n12 = 0%>
                <%@group12.each do |g|%>
                    <%n12 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n12%>º</p>
                        </div>
                        <div class="col-sm-8">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.impacto_periodo)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Maior Impacto Negativo (Geral):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-8">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Impacto</p>
                    </div>
                </div>
                <br>
                <%@group13 = @serv_mig.reverse[0..2]%>
                <%n13 = 0%>
                <%@group13.each do |g|%>
                    <%n13 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n13%>º</p>
                        </div>
                        <div class="col-sm-8">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.impacto_geral)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
           <div class="two-column-card-neg">
                <h6>Maior Impacto Negativo (Período):</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-8">
                        <p>Serviço(<cite>Órgão</cite>)</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Impacto</p>
                    </div>
                </div>
                <br>
                <%@group14 = @serv_mip.reverse[0..2]%>
                <%n14 = 0%>
                <%@group14.each do |g|%>
                    <%n14 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n14%>º</p>
                        </div>
                        <div class="col-sm-8">
                            <p style="text-align:justify"><%=g.nome%> (<cite><%=g.orgao.nome_fantasia%></cite>)</p>
                        </div>
                         <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.impacto_periodo)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    <br>
    <h5 class="subtitle">Orgãos:</h5>
    <div class="card one-column-card">  
        <h6>Orgãos com mais serviços no Portal no momento:</h6>
        <ol>
            <li><%=@org_msa.first.nome_fantasia%> - <span><%=nmb_form(@org_msa.first.atuais.size)%></span> (<cite><%=percent(@org_msa.first.atuais.size.to_f/@atuais.size)%> dos serviços hoje no Portal</cite>)</li>
            <li><%=@org_msa.second.nome_fantasia%> - <span><%=nmb_form(@org_msa.second.atuais.size)%></span> (<cite><%=percent(@org_msa.second.atuais.size.to_f/@atuais.size)%> dos serviços hoje no Portal</cite>)</li>
            <li><%=@org_msa.third.nome_fantasia%> - <span><%=nmb_form(@org_msa.third.atuais.size)%></span> (<cite><%=percent(@org_msa.third.atuais.size.to_f/@atuais.size)%> dos serviços hoje no Portal</cite>)</li>
        </ol>
    </div>
    <div class="row">
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Orgãos que mais acrescentaram serviços no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group15 = @org_msn[0..2]%>
                <%n15 = 0%>
                <%@group15.each do |g|%>
                    <%n15 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n15%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.novos.size)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.novos.size.to_f/(@novos.size == 0 ? 1 : @novos.size))%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Orgãos que mais retiraram serviços no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group16 = @org_msr[0..2]%>
                <%n16 = 0%>
                <%@group16.each do |g|%>
                    <%n16 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n16%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.retirados.size)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.retirados.size.to_f/(@retirados.size == 0 ? 1 : @retirados.size))%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Orgãos com mais avaliações no Portal hoje:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group17 = @org_mag[0..2]%>
                <%n17 = 0%>
                <%@group17.each do |g|%>
                    <%n17 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n17%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.fotografia_geral[0])%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.fotografia_geral[0].to_f/@cronos_fot_geral[0])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Orgãos com mais avaliações no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group18 = @org_map[0..2]%>
                <%n18 = 0%>
                <%@group18.each do |g|%>
                    <%n18 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n18%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.fotografia_periodo[0])%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.fotografia_periodo[0].to_f/@cronos_fot_periodo[0])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Orgãos com mais avaliações positivas hoje:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group19 = @org_mpg[0..2]%>
                <%n19 = 0%>
                <%@group19.each do |g|%>
                    <%n19 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n19%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.fotografia_geral[1])%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.fotografia_geral[1].to_f/@cronos_fot_geral[1])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Orgãos com mais avaliações positivas no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group20 = @org_mpp[0..2]%>
                <%n20 = 0%>
                <%@group20.each do |g|%>
                    <%n20+= 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n20%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.fotografia_periodo[1])%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.fotografia_periodo[1].to_f/@cronos_fot_periodo[1])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Orgãos com mais avaliações negativas hoje:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group21 = @org_mng[0..2]%>
                <%n21 = 0%>
                <%@group21.each do |g|%>
                    <%n21+= 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n21%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.fotografia_geral[2])%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.fotografia_geral[2].to_f/@cronos_fot_geral[2])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Orgãos com mais avaliações negativas no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Qtd.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>% do total</p>
                    </div>
                </div>
                <br>
                <%@group22 = @org_mnp[0..2]%>
                <%n22 = 0%>
                <%@group22.each do |g|%>
                    <%n22+= 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n22%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=nmb_form(g.fotografia_periodo[2])%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.fotografia_periodo[2].to_f/@cronos_fot_periodo[2])%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Orgãos com maior aprovação no Portal:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group23 = @org_mapvg[0..2]%>
                <%n23 = 0%>
                <%@group23.each do |g|%>
                    <%n23+= 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n23%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_media)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.aprovacao_media - @cronos_last.aprovacao_media)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Orgãos com maior aprovação no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group24 = @org_mapvp[0..2]%>
                <%n24 = 0%>
                <%@group24.each do |g|%>
                    <%n24 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n24%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_periodo)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.aprovacao_periodo - @cronos_last.aprovacao_periodo)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Orgãos com menor aprovação no Portal:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group25 = @org_mapvg.reverse[0..2]%>
                <%n25 = 0%>
                <%@group25.each do |g|%>
                    <%n25 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n25%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_media)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.aprovacao_media - @cronos_last.aprovacao_media)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Orgãos com menor aprovação no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Apv.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group26 = @org_mapvp.reverse[0..2]%>
                <%n26 = 0%>
                <%@group26.each do |g|%>
                    <%n26 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n26%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.aprovacao_periodo)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.aprovacao_periodo - @cronos_last.aprovacao_periodo)%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Orgãos com maior participação nas avaliações do Portal:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Part.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group27 = @org_mparg[0..2]%>
                <%n27 = 0%>
                <%@group27.each do |g|%>
                    <%n27 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n27%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.participacao_media)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.participacao_media - (1.to_f/@orgaos.size))%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Orgãos com maior participação nas avaliações do período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Part.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group28 = @org_mparp[0..2]%>
                <%n28 = 0%>
                <%@group28.each do |g|%>
                    <%n28 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n28%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.participacao_periodo)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.participacao_periodo - (1.to_f/@orgaos.size))%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Orgãos com maior impacto nas avaliações do Portal:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Imp.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group29 = @org_mimpg[0..2]%>
                <%n29 = 0%>
                <%@group29.each do |g|%>
                    <%n29 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n29%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.impacto_medio)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.impacto_medio - (1.to_f/@orgaos.size))%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card">
                <h6>Orgãos com maior impacto nas avaliações do período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Imp.</p>
                    </div>
                    <div class="col-sm-3">
                        <p>Dif. média</p>
                    </div>
                </div>
                <br>
                <%@group30 = @org_mimpp[0..2]%>
                <%n30 = 0%>
                <%@group30.each do |g|%>
                    <%n30 += 1%>
                    <div class="row">
                        <div class="col-sm-1">
                            <p style="text-align:right"><%=n30%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><span><%=percent(g.impacto_periodo)%></span></p>
                        </div>
                        <div class="col-sm-3">
                            <p style="text-align:center"><%=percent(g.impacto_periodo - (1.to_f/@orgaos.size))%></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Orgãos com maior variação positiva da aprovação média no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-5">
                        <p>Variação</p>
                    </div>
                </div>
                <br>
                <%@group31 = @org_difap[0..2]%>
                <%n31 = 0%>
                <%@group31.each do |g|%>
                    <%n31 += 1%>
                    <div class="row">
                        <div class="col-sm-2">
                            <p style="text-align:right"><%=n31%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:center"><span><%=percent(g.var_aprovacao_media)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
            <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Orgãos com maior variação negativa da aprovação média no período:</h6>
                <div class="row tab-head">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-5">
                        <p>Variação</p>
                    </div>
                </div>
                <br>
                <%@group32 = @org_difap.reverse[0..2]%>
                <%n32 = 0%>
                <%@group32.each do |g|%>
                    <%n32 += 1%>
                    <div class="row">
                        <div class="col-sm-2">
                            <p style="text-align:right"><%=n32%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:center"><span><%=percent(g.var_aprovacao_media)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-pos">
                <h6>Orgãos com maior diferença positiva entre a aprovação no período e a aprovação média anterior (outperformance):</h6>
                <div class="row tab-head">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-5">
                        <p>Outperformance</p>
                    </div>
                </div>
                <br>
                <%@group33 = @org_outp[0..2]%>
                <%n33 = 0%>
                <%@group33.each do |g|%>
                    <%n33 += 1%>
                    <div class="row">
                        <div class="col-sm-2">
                            <p style="text-align:right"><%=n33%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:center"><span><%=percent(g.outperformance)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
        <div class="col-sm-6 margined">
            <div class="two-column-card-neg">
                <h6>Orgãos com maior diferença negativa entre a aprovação no período e a aprovação média anterior (outperformance):</h6>
                <div class="row tab-head">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-5">
                        <p class="text-align:left !important">Órgão</p>
                    </div>
                    <div class="col-sm-5">
                        <p>Outperformance</p>
                    </div>
                </div>
                <br>
                <%@group34 = @org_outp.reverse[0..2]%>
                <%n34 = 0%>
                <%@group34.each do |g|%>
                    <%n34 += 1%>
                    <div class="row">
                        <div class="col-sm-2">
                            <p style="text-align:right"><%=n34%>º</p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:justify"><%=g.nome_fantasia%></p>
                        </div>
                        <div class="col-sm-5">
                            <p style="text-align:center"><span><%=percent(g.outperformance)%></span></p>
                        </div>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>